.signup-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}
.signup-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.singup-label {
  padding: 30px;
}

.signup-input {
  display: flex;
  margin-top: 2px;
  margin-bottom: 19px;
  border-radius: 6px;
  border: 1px solid rgb(212, 212, 212);
  width: 300px;
}

.submit-button-signup {
  background: linear-gradient(90deg, #e61d4d, #d10966);
  border: hidden;
  font-size: 17px;
  width: 205%;
  height: 5vh;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  position: relative;
  left: 2px;
}

.submit-button-signup:hover {
  background: linear-gradient(90deg, #ea5f80, #dc609a);
}

.signup-form {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.signup-label-div {
  display: flex;
  flex-direction: column;
  width: 300px;
}
