.hideForm {
  display: none;
}

.revealForm {
  display: flex;
}

.inner-modal-Form {
  display: flex;
  flex-direction: column;
  padding: 2px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.create-spot-form {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-title {
  font-size: larger;
  font-weight: bold;
}

.form-input {
  border: 1px solid gray;
  margin-bottom: 5%;
  font-size: larger;
  border-radius: 6px;
  border: 1px solid rgb(212, 212, 212);
}

.form-input:hover {
  background-color: rgb(231, 231, 231);
}

.main-skybnb-create-container {
  display: flex;
  position: relative;
}

.create-form-element {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 30%;
}
