.HomePage-Container {
  display: flex;
  flex-direction: column;
  margin: 0 4.5%;
  padding-top: 100px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.HomePage {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-gap: 27px;
  width: 100%;
  margin-top: 2%;
}

@media (max-width: 1600px) {
  .HomePage {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .HomePage {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .HomePage {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 380px) {
  .HomePage {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cardMain {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 85%;
  height: 415px;
}

.prevImg {
  width: 107%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 12px;
  vertical-align: bottom;
}

.img-holder {
  width: 110%;
  height: 70%;
}

.cardContents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 0.91vw;
  margin-bottom: 20px;
}

.card-Rating {
  display: flex;
  justify-content: space-around;
  margin-right: -27px;
}

.cardName {
  display: flex;
  color: #717171;
}

.card-Location-Rating {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.cardPrice {
  margin-bottom: 23px;
}

.SpotCardsContainer {
  width: 100%;
  height: 80%;
}

#removeNavLink-UnderLines {
  text-decoration: none;
  color: black;
}

.only-location {
  font-weight: bold;
}

.SplashPage-Footer {
  position: static;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 5%;
  background-color: transparent;
}

.SplashPage-Top {
  display: flex;
  flex-direction: row;
  gap: 180px;
  border-top: 1px solid rgb(230, 229, 229);
  padding-top: 5px;
  width: 100%;
}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1440px) and (max-device-height: 900px) {
  .SplashPage-Top {
    display: flex;
    flex-direction: row;
    gap: 120px;
  }
}

.fa-github {
  display: flex;
  font-size: 25px;
  align-items: center;

  cursor: pointer;
}

.fa-linkedin {
  display: flex;
  font-size: 25px;
  align-items: center;

  cursor: pointer;
}

.fa-eye {
  font-size: 21px;

  margin-top: 3px;
  cursor: pointer;
}
