.HomePage-Container {
  display: flex;
  margin: 0 4.5%;
  padding-top: 100px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.HomePage {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-gap: 27px;
  width: 100%;
  margin-top: 2%;
}

@media (max-width: 1600px) {
  .HomePage {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .HomePage {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .HomePage {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 380px) {
  .HomePage {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cardMain {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 85%;
  height: 415px;
}

.prevImg {
  width: 107%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 12px;
  vertical-align: bottom;
}

.img-holder {
  width: 110%;
  height: 70%;
}

.cardContents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
  font-size: 0.91vw;
  margin-bottom: 20px;
}

.card-Rating {
  display: flex;
  justify-content: space-around;
  margin-right: -27px;
}

.cardName {
  display: flex;
  color: #717171;
}

.card-Location-Rating {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.cardPrice {
  margin-bottom: 23px;
}

.SpotCardsContainer {
  width: 100%;
  height: 80%;
}

#removeNavLink-UnderLines {
  text-decoration: none;
  color: black;
}

.only-location {
  font-weight: bold;
}
.span-price {
  font-weight: 1000;
}
