.HomePage-Container {
  display: flex;
  margin: 0 4.5%;
  padding-top: 100px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.HomePage {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-gap: 22px;
  width: 100%;
  margin-top: 25px;
}

.cardMain {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 85%;
  height: 102%;
}

.prevImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  /* vertical-align: bottom; */
}

.img-holder {
  width: 100%;
  height: 50%;
}

.cardContents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 26%;
  font-size: 1vw;
}

.card-Rating {
  display: flex;
  justify-content: space-around;
}

.cardName {
  display: flex;
  color: #717171;
}

.card-Location-Rating {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin-bottom: 4px;
}
.cardPrice {
  margin-top: 9px;
}

.SpotCardsContainer {
  width: 100%;
  height: 450px;
}
