.inner-container-spot-rev {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin-top: 3%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2%;
  padding-bottom: 3%;
}

.individual-review-card {
  display: flex;
  width: calc(50% - 10px);
  margin: 5px;
  flex-direction: column;
  word-wrap: break-word;
}

.reviews-header {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  flex-direction: row;
}

.reviews-header-span > i {
  font-weight: 900;
  padding-left: 5px;
}

.blank-review-add-button {
  border-radius: 10px;
  width: 20%;
  margin-top: 2%;
  font-size: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 10px;
}

.review-form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.name-and-icon {
  display: flex;
  flex-direction: row;
}

.review-text-p {
  max-width: 100%;
  overflow: hidden;
}

.review-text {
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.name-plus-date {
  display: flex;
}

.date-banner-review {
  color: rgb(141, 140, 140);
  margin-left: 3%;
  display: flex;
  align-items: center;
}

#trashcan-Reviews {
  border: 1px hidden rgb(2, 2, 2);
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 4px;
  height: 3.5vh;
  width: 23px;
  justify-content: center;
  cursor: pointer;
}

.trashcan-Reviews {
  font-size: 103%;
  border: 1px hidden black;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.trashcan-Reviews:hover {
  background-color: rgb(209, 208, 208);
}

.trashcan-container {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.form-input-review {
  cursor: pointer;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid rgb(212, 212, 212);
}

.form-input-review:hover {
  background-color: rgb(241, 241, 241);
}

.add-rev-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* .fa-user-pen {
  border: 1px solid red;
  border-radius: 50%;
  background-color: #333;
} */

i.fa-solid.fa-user-pen {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(193, 193, 193, 0.593);
  padding: 9px;
  margin-right: 2px;
}

i.fa-solid.fa-user-pen::before {
  display: block;
  margin-left: -2px;
  margin-top: -2px;
}

.starPlusRev2 {
  margin: 0;
}

.submit-button-review {
  font-size: 1.3rem;
  border: 1px hidden black;
  margin-top: 38px;
  border-radius: 7px;
  cursor: pointer;
  padding: 9px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s;
  width: 131%;
  height: 5vh;
  background: linear-gradient(90deg, #e61d4d, #d10966);
}

.submit-button-review:hover {
  background: linear-gradient(90deg, #dc3f64, #cb337a);
}

.review-comments-label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input-comments {
  height: 60px;
  padding: 10px;
  max-width: 60%;
  display: flex;
  border-radius: 10px;
  border: 1px solid rgb(212, 212, 212);
  resize: none;
  overflow-y: scroll;
}

.form-input-review-label {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 130%;
}

.form-input-review {
  border-radius: 10px;
}

.no-Auth {
  font-size: 20px;
  padding: 10px;
}

.form-control {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fa-trash-can {
  border: 1px hidden rgb(2, 2, 2);
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 4px;
}

.fa-trash-can:hover {
  background-color: rgb(211, 211, 211);
}

.rating-container {
  display: flex;
  font-size: 35px;
  gap: 10px;
  cursor: pointer;
}

.star-rating-title {
  padding: 20px;
}

.fas-star {
  font-weight: 400;
  font-size: 36px;
  padding: 4px;
  color: rgb(229, 229, 229);
}

#fas-star:hover {
  color: #ff385c;
}

.star-selected {
  color: #ff385c;
}

.not-selected {
  color: rgb(229, 229, 229);
}

.review-form {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
