.inner-modal-Form2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.edit-spot-form {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
