.hidden {
  display: none;
}

.Nav-Main {
  border-bottom: 0.5px solid rgb(214, 210, 210);
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: white;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 101;
  justify-content: space-between;
  padding: 6px;
}

.Home-Logo {
  height: 64px;
  width: 118px;
  object-fit: contain;
}

.Nav-Home-Button {
  margin-left: 4.5%;
  display: flex;
}

.Nav-Profile-Button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -10px;
}

body {
  margin-top: 0px;
}

.nav-bar-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.Create-Profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 4%;
}

.profile-button-combined {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profButton {
  font-size: 28px;
  border-radius: 30px;
  width: 109%;
  padding: 8px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  margin-right: 5px;
  box-shadow: 0px 0px 0px #e0dfdf;
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid rgb(220, 220, 220);
}

.profButton:hover {
  box-shadow: 3px 3px 3px rgb(175, 174, 174);
}

.fa-bars {
  font-size: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(75, 75, 75);
}
.fa-user-circle {
  color: rgb(101, 101, 101);
}

.logOut-button {
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin-right: 3%;
  text-align: center;
  border: 1px solid rgb(234, 234, 234);
  padding: 20px;
  right: -12px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #e0dfdf;
  transition: box-shadow 0.3s ease-in-out;
  background-color: white;
  margin-top: 8px;
}

.profile-dropdown:hover {
  box-shadow: 3px 3px 3px rgb(175, 174, 174);
}

li:not(:first-child) {
  margin-top: 10px;
}
li:not(:last-child) {
  margin-bottom: 10px;
}

.profile-dropdown-buttons {
  border: 1px hidden black;
  height: 50px;
  width: 90%;
  font-size: 0.9rem;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  background-color: white;
}

.profile-dropdown-buttons:hover {
  background-color: rgb(199, 196, 196);
}

.submit-button-log-out {
  border: 1px hidden black;
  height: 120%;
  width: 80%;
  font-size: 1.1rem;
  position: relative;
  margin-top: 17px;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  background-color: white;
}

.submit-button-log-out:hover {
  background-color: rgb(199, 196, 196);
}
