.hidden {
  display: none !important;
}

.Nav-Main {
  border-bottom: 0.5px solid rgb(214, 210, 210);
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: white;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 101;
  justify-content: space-between;
  padding: 6px;
}

.Home-Logo {
  height: 64px;
  width: 118px;
  object-fit: contain;
}

.Nav-Home-Button {
  margin-left: 4.5%;
  display: flex;
}

.Nav-Profile-Button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -10px;
}

body {
  margin-top: 0px;
}

.nav-bar-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.Create-Profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 4%;
}

.profile-button-combined {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profButton {
  font-size: 28px;
  border-radius: 30px;
  width: 109%;
  padding: 8px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  margin-right: 5px;
  box-shadow: 0px 0px 0px #e0dfdf;
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid rgb(220, 220, 220);
}

.profButton:hover {
  box-shadow: 3px 3px 3px rgb(175, 174, 174);
}

.fa-bars {
  font-size: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(75, 75, 75);
}
.fa-user-circle {
  color: rgb(101, 101, 101);
}

.logOut-button {
  cursor: pointer;
}

.profile-dropdown {
  width: 170px;
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style-type: none;
  margin-right: 3%;
  text-align: center;
  border: 1px solid rgb(234, 234, 234);
  top: 55px;
  padding: 20px;
  right: -12px;
  border-radius: 12px;
  box-shadow: 0px 0px 0px #e0dfdf;
  transition: box-shadow 0.3s ease-in-out;
  background-color: white;
}

.profile-dropdown:hover {
  box-shadow: 3px 3px 3px rgb(175, 174, 174);
}

li:not(:first-child) {
  margin-top: 10px;
}
li:not(:last-child) {
  margin-bottom: 10px;
}

.profile-dropdown-buttons {
  border: 1px hidden black;
  height: 50px;
  width: 90%;
  font-size: 0.9rem;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px;
  background-color: white;
}

.profile-dropdown-buttons:hover {
  background-color: rgb(199, 196, 196);
}

.profile-dropdown-li-bookings {
  text-decoration: none;
  color: black;
}

.profile-button-container {
  display: flex;
  flex-direction: column;
}

.profile-dropdown-li {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 18px;
  width: 176px;
  margin-left: -21px;
}

.profile-create-spot {
  background-color: transparent;
  border: hidden;
  cursor: pointer;
  font-size: 15px;
}

.pd-email {
  padding-bottom: 14px;
}

.pd-logout {
  height: 6vh;
  margin-bottom: -13%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  border-top: 1px solid rgb(220, 220, 220);
}

.pd-logout button {
  background: transparent;
  border: hidden;
}

.profile-dropdown :nth-child(4):hover,
.profile-dropdown :nth-child(5):hover {
  background: rgb(234, 234, 234);
}

.profile-dropdown :nth-child(6):hover {
  background: linear-gradient(90deg, #e61d4d, #d10966);
  color: white;
}

.log-in-button {
  background: linear-gradient(90deg, #e61d4d, #d10966);
  border: hidden;
  font-size: 17px;
  width: 87%;
  height: 4vh;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.log-in-button:hover {
  background: linear-gradient(90deg, #ea5f80, #dc609a);
}

.sign-up-button {
  background: transparent;
  border: 1px solid #e61d4d;
  font-size: 17px;
  width: 87%;
  height: 4vh;
  border-radius: 7px;
  color: #e61d4d;
  cursor: pointer;
}

.sign-up-button:hover {
  color: #bc1414;
  border: 1px solid #c31313;
}

.log-sign-demo {
  background: linear-gradient(90deg, #e61d4d, #d10966);
  border: hidden;
  font-size: 17px;
  width: 87%;
  height: 4vh;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.log-sign-demo:hover {
  background: linear-gradient(90deg, #ea5f80, #dc609a);
}
